
#book{
    background-color: white;
    padding: 40px;
    margin-left: 3%;
    margin-right: 3%;
    
}
#header{
    margin-left: 15%;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    color: #7e7373;
    
}
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    
}
#header-buttons{
    gap: 50px;
    display: flex;
}
#landingimage{
    background-color: rgb(235, 185, 93);
    border-radius: 50%;
    height: 50vh;
}
.login{
    border: none;
}
.start-button{
    border: 1px solid;
    border-radius: 25px;
    width: 60%;
    height: 5vh;
    background-color: dodgerblue;
    color: white;
}
#input_button{
    position: relative;
    display: inline-block;
}
#imagediv{
border-radius: 50%;
height: 3vh;
}
.image{
    border-radius: 50%;
    width: 200%;
    object-fit: cover;
}
#Find{
    display: flex; 
    margin-left: 15%;  
}
h2{
    font-size: 300%;
}
#footerHeading{
    text-align: center;

}
.FooterImage{
    width: 10%;
    height: 7vh;
}
#footerdivision{
    background-color: rgb(207, 238, 236);
    padding: 30px;
    margin-left: 3%;
    margin-right: 3%;
    width: 90vw;
}
#footer-images{
    display: flex;
    gap: 10%;
}
.img2{
    width: 5%;
    height: 3vh;
}
.toggle{
    position: relative;
    display: inline-block;
    width: 260px;
}
.toggle input{
    border: 0px solid;
    border-radius: 30px;
    padding-right: 40px;
    width: 200%;
    min-height: 8vh;
}
.toggle button{
    position: absolute;
    margin-left: 450px;
    top: 20%;
    width: 40%;
    border: none;
    background-color: rgb(113,182,176);
    border-radius: 20%;
    min-height: 5vh;
}
#icons{
    display: flex;
    margin-left: 20%;
}
h1{
    font-family: poppins;
}

